.background-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/public/img/home_wallpaper.jpeg');
    background-size: cover; ;
    background-attachment: fixed;
    filter: brightness(90%);
    z-index: -1; /* Háttérkép alacsonyabb réteg (hátrébb kerül) */
  }
  
  .maintext {
    font-size: 22px;
    margin: 40px; /* Itt állíthatod be a kívánt margót */
    color: white;
    text-align: justify;
    margin-top: 100px;
  }
  .tittles {
    font-size: 21px;
    margin-bottom: 10px; /* Itt állíthatod be a kívánt margót */
    color: white;
    text-align: justify;
    
  }
  .text li {
    list-style-type: none; /* Elrejti a beépített listajelet (pl. kör) */
    font-weight: bold;
    line-height:2;
    color: white;
    text-align: left;
    margin-left: 150px;
    font-size: 200px;
    top: 10px;
  }

  