.background-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/public/img/home_wallpaper.png');
    background-size: cover; ;
    background-attachment: fixed;
    filter: brightness(90%);
    z-index: -1; /* Háttérkép alacsonyabb réteg (hátrébb kerül) */
  }
  
  .text2 {
    font-size: 15px;
    margin: 20px; /* Itt állíthatod be a kívánt margót */
    color: white;
    text-align: center;
    
  }

  